header{
    background-color: #1B2847;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    padding: 1.25em;
    height: 6.7vh;
}

h3{
    font-weight: 500;
    font-size: 0.9rem; 
    letter-spacing: -1px;
}