main{
    width: 100%;
    padding: 2.8em 1em 2.8em 2.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    height: 92.3vh;
}

main:before{
    background-image: url('https://images.unsplash.com/photo-1542650742-d3150fb66298?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njl8fHRyYXZlbGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;

    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.destination--list{
    float: right;
    overflow: auto;
    padding-right: 2.5em;
}
